.App {
  background-color: #f5f6fa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App > div {
  max-width: 400px;
  position: relative;
}